{% extends "layout.html" %}




{% block home_content %}
    <h2>Bienvenido a mi Portafolio</h2>
    <p>Soy Camilo Rojas Ibañez, </p>
{% endblock %}





{% block about_content %}
    <h2>Sobre Mí</h2>
    <p>Aquí va información sobre ti...</p>
{% endblock %}



{% block projects_content %}
    <h2>Mis Proyectos</h2>
    <ul>
        <li>Proyecto 1</li>
        <li>Proyecto 2</li>
        <li>Proyecto 3</li>
    </ul>
{% endblock %}





{% block contact_content %}
    <h2>Contacto</h2>
    <p>Aquí van tus detalles de contacto...</p>
{% endblock %}